<div class="container" style="margin-top: 20px;">
  <div class="trip-info">
    <div>
      {{ trip.from }}
    </div>
    <div>
      {{ trip.to }}
    </div>
    <div>
      {{ trip.time | date: "short" }}
    </div>
    <div>{{ trip.distance }}km</div>
    <div>{{ trip.duration }}</div>
    <div>
      {{ trip.price }}
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        style="font-size: 20px;"
        >euro_symbol</mat-icon
      >
    </div>
  </div>
 
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>User information</ng-template>
        <mat-form-field>
          <input
            [(ngModel)]="reservation.firstName"
            formControlName="firstCtrl"
            matInput
            placeholder="First name"
            required
            class="browser-default"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            [(ngModel)]="reservation.lastName"
            formControlName="firstCtrl"
            matInput
            placeholder="Last name"
            required
            class="browser-default"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            [(ngModel)]="reservation.phoneNumber"
            formControlName="firstCtrl"
            matInput
            placeholder="Phone number"
            required
            class="browser-default"
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      
        <div class="container extra-payment">
          <ng-template matStepLabel>Extra payment</ng-template>
          <mat-checkbox [(ngModel)]="extraLuggage">Extra luggage + {{ trip.extraLuggage }}</mat-checkbox>
          <mat-checkbox>Some other expense</mat-checkbox>
          <mat-checkbox>Carbon footprint</mat-checkbox>

          <h3>
            Current price: {{ (trip.price + (extraLuggage? trip.extraLuggage : 0)) | number}}
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              >euro_symbol</mat-icon
            >
          </h3>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </div>
      
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <button mat-button-raised (click)="makeReservation()">Pay</button>
      <mat-spinner *ngIf="processing"></mat-spinner>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
