html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }

body {
    background-color: rgb(60, 60, 60);
    /* background-image: linear-gradient(to top right, green, white);
    background-repeat: no-repeat; */
    font-family: Tahoma, Geneva, sans-serif;
}

.startPage{

    display: flex;
    flex-direction: column;

    border-radius: 25px;
    width: 50%;
    height: 50%;
    min-width: 500px;
    min-height: 300px;
	background-color: red;
    
    position: absolute;

	top:0; bottom: 0;
	left: 0; right: 0;
  	
	margin: auto;
}

.startPage h2{
    text-align: center;
    color: white;
    
}

.startPage input, button{

    position: relative;
    margin: auto;
    display: block;
    margin-top: 0;
    margin-bottom: 7%;
    width: 50%;
}

.startPage input[id="userNameInput"]{
    margin-top: 1%;
}

.userNameExists {
    background-color: lightcoral;
}

.mainPageDiv{
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0; left: 0;
    height: 100%; width: 100%;
}

.sidebar {
    display: block;
    height: 100%; 
    width: 200px; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
     
    padding-top: 60px; 
}

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidebar a:hover {
    color: #f1f1f1;
    cursor: pointer;
  }

.matchDiv{
    position: relative;
    height: 100px; width: 300px;
    border: solid black 5px;
    background-color: white;
    display: flex;
     display: -webkit-flex;
    -webkit-flex-direction: column;
     flex-direction: column;
     margin-left: 150px;
}

.oddsDiv {
    height:40px;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.choisesDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
     justify-content: center;
    height: 20px;
}

.matchTitle{
    margin: 0;
    margin-top: 10px;
    height: 30px;
    text-align: center;
}

.ticketMainDiv {
    margin-left: 50px;
    margin-top: 50px;
    height: 500px; width: 200px;
    background-color: yellow;
}

.ticketTitle{
    background-color: #111;
    height: 50px;
    color: white;
    text-align: center;
}

.selectedMatches{
    background-color: white;
    width: 100%;
    height: 300px;
    
}

.match {
    background-color: lightgrey;
    height: 60px;
    font-size: 95%;
}

.removeMatch{
    float: right;
    position: relative;
    margin-right: 10px;
}
.removeMatch:hover{
    color: red;
    cursor: pointer;
    
}
.chosenOdd{
    float: left;
    
    text-align: center;
    vertical-align: center;
    background-color : yellowgreen;
    width: 50px;
    height: 30px;
    border-radius: 15%;
    border-style: solid green 4px;
}

.matchesContainer{
    margin-left: 50px;
    margin-top: 50px;
    height: 100%;
    width: 600px;
}

.sportTable{
    background-color: #111;
    width: 100%;
}

.sportTable th, td {
    border: solid  rgb(60, 60, 60) 3px;
    border-collapse: collapse;
    text-align: center;
}

.tableTitle {
    background-color: #111;
    color: green;
    height: 50px;
}

.matchRow {
    background-color: #111;
    height: 50px;
    width: 100%;
    color: white;
}

.choice:hover{
    color: #f1f1f1;
    cursor: pointer;
    background-color: #818181;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
